body {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    font-weight: 700;

}

* {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.tabs li {
    display: inline-block;
    /* margin: 0 10%; */
    padding: 3px 10px;
    border: 4px solid;
    border-color: white;
    border-bottom-color: transparent;
    /* border-bottom: 0; */
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.tabcontainer {
    transition: opacity .2s ease-out;
}

/* .searchItem {
    display: inline-block;
    zoom: 1;
    padding-right: 30px;
} */

hr {
    border: 4px solid white;
}

#forma,
#DONE {
    border-left: 4px solid white;
}

section div {
    display: block;
    margin-bottom: 10px;
}

div.inline {
    display: inline-block;
}

#Date {
    margin-bottom: 30px;
}

form {
    margin-top: 50px;
}

label,
#gjinia p {
    display: inline-block;
    width: 100px;
}

#gjinia label {
    display: inline !important;
}

[type="text"],
[type="tel"],
[type="email"] {
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 300px;
    transition: 0.3s;
    padding: 10px;
    border: 4px solid white;
    border-radius: 4px;
    background-color: #4CAF50;
}

button,
#submit,
footer a {
    cursor: pointer;
    border: 4px solid white;
    border-radius: 4px;
    font-size: 20px;
    padding: 8px 14px;
    color: white;
    background-color: #4CAF50;
    transition: 0.3s;
}

button:hover,
#submit:hover,
footer a:hover {
    text-decoration: none;
    background-color:
        rgb(70, 155, 72);
    color:
        #f0f0f0;
}

.invalid {
    padding-left: 110px;
    width: 420px;
    color: red;
    font-size: 12px;
    display: none;
}

.detyra {
    color: #00ff62;
}

.calculator input {
    width: 150px;
    margin-top: 5px;
}

#operator {
    display: inline-block;
    width: 15px;
}

.operators button {
    border-width: 1px;
    width: 50px;
    height: 50px;
}

footer a {
    display: inline-block;
    margin: 100px;
    color: white;
}

#to-do-list .to-do-item {
    display: block;
}

i {
    margin: 0 !important;
}

#to-do-list label,
#DONE p {
    width: auto !important;
    font-size: 30px;
}

#to-do-list label {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#to-do-list input[type='checkbox']:hover+label,
#to-do-list label:hover {
    color: rgb(152, 223, 154);
}

input[type='checkbox'] {
    margin-right: 0;
    cursor: pointer;
    -webkit-appearance: none;
    /* width: 25px;
    height: 20px; */
    transition: 0.3s ease-in-out;
}

input[type='checkbox']::before,
.icon-ok {
    content: '\e800';
    font-size: 35px !important;
    transition: 0.3s ease-in-out;
}

input[type='checkbox']:hover {
    color: rgb(70, 155, 72);
}

#to-do-list i {
    cursor: pointer;
    color: rgb(180, 0, 0);
    transition: 0.3s ease-in-out;
    font-size: 35px;
}

#to-do-list i:hover {
    color: rgb(255, 0, 0);
}

#DONE i,
#DONE p {
    transition: 0.3s ease-in-out;
}

#DONE p:hover {
    color: rgb(152, 223, 154);
}


#DONE p:hover span,
#DONE span:hover,
#DONE h2 {
    color: rgb(56, 150, 57);
}


@media screen and (max-width:991px) and (min-width:768px),
(max-width:450px) {
    .invalid {
        padding-left: 0;
        width: 300px;
    }
}

@media screen and (max-width:767px) {

    #forma,
    #DONE {
        border-left: 0px;
    }
}